<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fissher.wowtc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/wowicon"
        android:label="WoW Talent Calculator"
        android:roundIcon="@drawable/wowicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fissher.wowtc.activities.MainMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-8156706115088392~1649329647"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fissher.wowtc.activities.ClassMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fissher.wowtc.activities.TalentTreeActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>